@model AgainArt.Models.Gallery


<!-- Photo grid Category -->
<div class="w3-row">
    @foreach (var item in Model.LstArtWorkCategory)
    {
        <div class="w3-third">
            <img src=@Url.Content(item.FileURL) style="width:100%" onclick="getImages(this)" alt="@item.Description" class="@item.PaintingType.ToString()" />
        </div>
    }
</div>

<div class="w3-row wchild">
    @foreach (var item in Model.LstArtWork)
    {
        <img src=@Url.Content(item.FileURL) style="width:100%; display:none" onclick="onClick(this)" alt="@item.Description" class="@item.PaintingType.ToString()" />
    }
</div>

<!-- Photo grid -->
@*<div class="w3-row">
        @foreach (var item in Model.LstArtWork)
        {
            <div class="w3-third">
                <img src=@Url.Content(item.FileURL) style="width:100%" onclick="onClick(this)" alt="@item.Description" />
            </div>
        }
    </div>*@


<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption"></p>
    </div>
</div>
