@model AgainArt.Models.Artist

@{
    Layout = null;
}

Pagina de artista

@using (Html.BeginForm())
{
    <p>
        @Html.DisplayNameFor(a => a.Nome);
        @Html.TextBoxFor(a => a.Nome);
    </p>

    <p>
        @Html.DisplayNameFor(a => a.About);
        @Html.TextBoxFor(a => a.About);
    </p>

    <p>
        @Html.ActionLink("Create Artist", "Insert", "Artist", Model, new { @class = "btn" });

    </p>

    <input type="submit" name="btnCriar" value="Accept" formaction=@Url.Action("Insert","Artist") formmethod="post" class="btn btn-primary" />

    <p>
        <input type="submit" name="btnPesquisar" value="Search Artista" formaction=@Url.Action("Details","Artist") formmethod="post" class="btn btn-primary" />
        @Html.TextBox("txtIdSearch");
    </p>
    //dd mandar metodo inteiro por post

}


<div>
    @{
        string valor = "Sem valor";

        if (Model != null)
        {
            valor = @Model.Nome;
        }

        else { valor = "Oi"; }
    }

    @Html.Label(valor);
    @Html.DisplayFor(model => model.Nome);
    @Html.DisplayFor(fer => fer.Nome);


    <p>

        <label for="file">Upload File:</label><input type="file" name="file" id="file" />
    </p>
    <p>
        <input type="submit" formmethod="post" formaction=@Url.Action("Add","ArtWorkController") formenctype="multipart/form-data" value="Upload File" />
        @Html.ActionLink("Sei la upload", "Add", "ArtWorkController");
    </p>

</div>
