@model AgainArt.Models.ArtWork

@{
    ViewBag.Title = "EditArt";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="w3-content w3-padding-large w3-margin-top">

    @using (Html.BeginForm("Edit","ArtWork", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Edit your paintings here</h2>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FileURL)
            @Html.HiddenFor(model => model.ThumbNailURL)
            @Html.HiddenFor(model => model.GeneratedName)
            @Html.HiddenFor(model => model.ContentLength)
            @Html.HiddenFor(model => model.ContentType)
            @Html.HiddenFor(model => model.ImageData)
            @Html.HiddenFor(model => model.IdArtista)

            <div class="form-group row">

                <div class="form-group">
                    @Html.LabelFor(model => model.ThumbNailURL, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src=@Url.Content(Model.ThumbNailURL) alt="@Model.Description" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OriginalName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OriginalName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OriginalName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PaintingType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PaintingType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EnumDropDownListFor(model => model.PaintingEnum, Model.PaintingType)


                        @Html.ValidationMessageFor(model => model.PaintingType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <hr />
                        <hr />

                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        <hr />
        <hr />
        @Html.ActionLink("Back to List", "Index", "ArtWork")
    </div>
</div>
