@model IEnumerable<AgainArt.Models.ArtWork>
@using AgainArt.Models;

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>View1</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="w3-content w3-padding-large w3-margin-top">
    <table class="table">
        <tr>

            <th>
                <input type="checkbox" id="ckbAll" />
            </th>
            <th></th>
            <th>
                Painting Name
            </th>
            <th>
                Description
            </th>
            <th>
                Classification
            </th>

            <th></th>
        </tr>


        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <input type="checkbox" id="ckbEach" />
                </td>
                <td>
                    <img src=@Url.Content(item.ThumbNailURL) alt="@item.Description" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description);
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PaintingTypeDescription)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

